* {
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(239, 229, 173);
    height: 80px;
    width: 100%;
    position: fixed;

}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;

}
h1{
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
     background-image: url(img/logo.jpg);
     background-size: contain;
     background-position: center;
     width: 200px;
     text-indent: -9999px;
     background-repeat: no-repeat;
}
header li{
    display: inline;
    margin-right: 4vw;
}
h1{
    color: white;
}
header a{
    color: white;
    text-decoration: none;

}
header a:hover{
    text-decoration: underline;
}
